@using Microsoft.AspNetCore.Identity
@using OnlineFoodOrdering.Models.Entity
@inject SignInManager<ApplicationUsers> SignInManager
@inject UserManager<ApplicationUsers> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <main class="container">
        <section class="container row hero-container mx-auto">
            <div class="col-md-6">
                <h1 class="hero-msg fw-bold">
                    Wait <span class="accent">A minute</span> And Get Your
                    <span class="accent">Food</span>
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A vitae
                    quam nobis cupiditate dolores error id inventore corrupti quidem
                    omnis.
                </p>
                @if (SignInManager.IsSignedIn(User))
                {
                    
                @if (User.IsInRole("Customer"))
                {
                    
                <div>
                    @* <button class="btn-main text-white rounded fw-bold" asp-controller="Foods" asp-action="Index">
                        Order Now
                    </button> *@
                    <a class="btn" style="background-color: #ff692a; font-weight:900; color: white;" asp-area="" asp-controller="Foods" asp-action="Index">Order Now</a>
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                <img src="./delivery.svg" style="max-width: 100%" alt="" />
            </div>
        </section>
        <section class="hero-info container mx-auto d-flex justify-content-center mt-2">
            <div class="shadow-lg py-3 px-3 mb-3 rounded-3 d-flex justify-content-center gap-5">
                <div>
                    <h3>
                        <span class="accent">15k+</span>
                    </h3>
                    <p>Happy Clients</p>
                </div>
                <div>
                    <h3>
                        <span class="accent"> 500+ </span>
                    </h3>
                    <p>Recipes</p>
                </div>
                <div>
                    <h3>
                        <span class="accent"> 100+ </span>
                    </h3>
                    <p>Delivery Means</p>
                </div>
            </div>
        </section>
    </main>
</body>