@using Microsoft.AspNetCore.Identity
@using OnlineFoodOrdering.Models.Entity

@inject SignInManager<ApplicationUsers> SignInManager
@inject UserManager<ApplicationUsers> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - OnlineFoodOrdering</title> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/OnlineFoodOrdering.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a style="color: #ff692a; font-weight: 900; " class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Feast Flavors</a>
                <button class="navbar-toggler pull-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="left-nav">

                    <ul class="navbar-nav">
                      @*   <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Foods" asp-action="Index">Food Items</a>
                        </li>
                    
                    @if (SignInManager.IsSignedIn(User))
                    {
                        
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">User Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Order" asp-action="ManageOrderStatus">Manage Orders</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Order" asp-action="ViewCart">View Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Order" asp-action="OrderHistory">Order History</a>
                                </li>
                            }
                    }
                        </ul>
                    </div>
                    <div class="right-nav">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var successMessage = "@TempData["SuccessMessage"]";

            if (successMessage) {
                // Display a Bootstrap alert with the success message
                var alertHtml = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${successMessage}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                         </div>`;

                // Append the alert to the container
                document.body.insertAdjacentHTML("beforeend", alertHtml);
            }
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
